:root {
  --site-black: rgb(15, 15, 15);
  --site-white: rgb(240, 240, 240);
  --primary-color: rgb(12, 58, 58);
  --site-font: 'Courier New', Courier, monospace;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.App {
  text-align: center;
  font-family: var(--site-font);
  color: var(--site-white);
  text-decoration: none;
}
